body{
    font-family: 'Open Sans';
}
.app-logo{
    height: 30px;
    margin-top: -5px;
}

.padding-top-40{ padding-top: 40px; }
.padding-bottom-40{ padding-bottom: 40px; }
.draggableList .draggableItemButton {
    cursor: move;
}
.panel-default {
    border-color: #080808;
}
.navbar.navbar-inverse {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.navbar.navbar-default {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
span.brand-success {
    color: #5cb85c
}
span.brand-info {
    color: #5bc0de
}
span.brand-warning {
    color: #f0ad4e
}
span.brand-danger {
    color: #d9534f
}
span.brand-primary {
    color: #428bca
}

.gt.box{
    margin-top:10px
}
.gt .margin-top-15{
    margin-top:15px
}
.gt.app-header {
    padding: 15px 15px;
    margin-bottom: 0px;
    height: 20px;
    font-size: 18px;
    background-color: transparent;
}
.navbar {
    margin-bottom: 0px;
}
.gt .tasks-item{
    padding: 5px;
    min-height: 49px;
    border: 1px solid transparent;
}
.gt .tasks-item:hover{
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
.gt .projects-item{
    padding: 5px;
    min-height: 70px;
    border: 1px solid transparent;
}
.gt .projects-item:hover{
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
.gt .access-item{
    padding: 5px;
    border: 1px solid transparent;
}
.gt .access-item:hover{
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
.gt .toProjectLink{
    cursor: pointer;
}

.gt hr {
    margin-top: 0px; 
    margin-bottom: 5px; 
}
.gt .panel-body {
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.gt .padingtop15{
    padding-top: 15px;
}
.gt .project-icon{
    font-size: 48px;
    padding: 0px;
}
.gt .icons-list{
    font-size: 28px;
    padding: 0px;
}
.gt .project-icon2:hover{
    color: #fff;
    background-color: #563d7c;
}
