<h4>Проект</h4><hr/>
<div class="media">
    <p class="pull-left toProjectLink" data-href="<?=F3::get('projectItem.id')?>">
        <span class="media-object project-icon <?=F3::get('projectItem.icon')?>"></span>
    </p>
    <div class="media-body">
        <h4 class="media-heading"><a href="/project/<?=F3::get('projectItem.id')?>" class="dateShower" data-value="<?=intval(F3::get('projectItem.completedDate'))?>"><?=F3::get('projectItem.title')?></a>
            <div class="btn-group pull-right">
                <a href="/projects/update/<?=F3::get('projectItem.id')?>" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
                <a data-href="/projects/delete/<?=F3::get('projectItem.id')?>" class="btn btn-danger deleteProjectLink"><span class="glyphicon glyphicon-remove"></span></a>
                <a href="/project/<?=F3::get('projectItem.id')?>/access" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> <?=F3::get('projectItem.accessStr')?></a>
                <a href="/project/<?=F3::get('projectItem.id')?>" class="btn btn-success"><span class="glyphicon glyphicon-check"></span> <?=F3::get('projectItem.completedStr')?></a>
            </div>
        </h4>
        <?=F3::get('projectItem.description')?>
    </div>
</div>
<h4><?=F3::get('title')?></h4><hr/>
<form class="item-form" role="form" method="POST" action="/project/<?=F3::get('projectItem.id')?>/tasks/create" id="taskCreateForm">
    <div class="form-group">
        <label for="title">Название</label>
        <input type="text" class="form-control" name="title" maxlength="255" placeholder="" required>
    </div>
    <div class="form-group">
        <label for="description">Описание</label>
        <textarea class="form-control" name="description" maxlength="512" placeholder=""></textarea>
    </div>
    <div class="form-group">
        <label for="completed_date">Дата и время выполнения</label>
        <div class="input-group date datetime-field">
            <input type="text" class="form-control datetotimestamp" data-target="input[name=completed_date]" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <input type="hidden" class="form-control" name="completed_date">
    </div>
    <input type="hidden" name="referer" value="<?=F3::get('referer')?>">
    <input type="hidden" name="act" value="">
    <div class="item-buttons">
        <a class="btn btn-default" href="/project/<?=F3::get('projectItem.id')?>"><span class="glyphicon glyphicon-chevron-left"></span> Задачи</a>
        <button type="submit" class="btn btn-success" data-act="create"><span class="glyphicon glyphicon-ok"></span> Добавить</button>
        <button type="submit" class="btn btn-primary" data-act="create_and_reset"><span class="glyphicon glyphicon-plus"></span> Добавить ещё </button>
    </div>
</form>