<h4>Проект</h4><hr/>
<div class="media">
    <p class="pull-left">
        <span class="media-object project-icon <?=F3::get('projectItem.icon')?>"></span>
    </p>
    <div class="media-body">
        <h4 class="media-heading"><span class="dateShower" data-value="<?=intval(F3::get('projectItem.completedDate'))?>"><?=F3::get('projectItem.title')?></span>
            <div class="btn-group pull-right">
                <a href="/projects/update/<?=F3::get('projectItem.id')?>" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
                <a data-href="/projects/delete/<?=F3::get('projectItem.id')?>" class="btn btn-danger deleteProjectLink"><span class="glyphicon glyphicon-remove"></span></a>
                <a href="/project/<?=F3::get('projectItem.id')?>/access" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> <?=F3::get('projectItem.accessStr')?></a>
            </div>
        </h4>
        <?=F3::get('projectItem.description')?>
    </div>
</div>
<h4><?=F3::get('title')?></h4><hr/>
<div id="tasks-list">
    <input type="text" class="form-control search hidden" placeholder="Поиск задачи...">
    <ul class="draggableList list-unstyled list" data-placeholder="tasks-item bg-info" data-url="/project/<?=F3::get('projectItem.id')?>/tasks/change">
        <? if (count(F3::get('tasksList'))>0){?>
        <? $index=0;?>
        <? foreach(F3::get('tasksList') as $task){Tasks::instance()->set($task->cast());?>
        <li class="draggableItem">
            <span class="ls-title hidden"><?=F3::get('taskItem.title')?></span>
            <div class="tasks-item media draggableItemObject">
                <input type="checkbox" data-name="completed" data-href="/project/<?=F3::get('projectItem.id')?>/tasks/update/<?=F3::get('taskItem.id')?>" value="1" id="tasks_<?=F3::get('taskItem.id')?>" name="tasks[<?=F3::get('taskItem.id')?>]" data-color="green" <?=F3::get('taskItem.checked')?>/>
                       <label for="tasks_<?=F3::get('taskItem.id')?>" class="dateShower" data-value="<?=F3::get('taskItem.completedDate')?>"><?=F3::get('taskItem.title')?></label>
                <div class="btn-group pull-right">
                    <a class="btn btn-default draggableItemButton"><span class="glyphicon glyphicon-move"></span></a>
                    <a href="/project/<?=F3::get('projectItem.id')?>/tasks/update/<?=F3::get('taskItem.id')?>" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a data-href="/project/<?=F3::get('projectItem.id')?>/tasks/delete/<?=F3::get('taskItem.id')?>" class="btn btn-danger deleteItemLink"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </div>
        </li>
        <? $index++;}} ?>
    </ul>
    <ul class="pagination hidden"></ul>
</div>
<div class="item-buttons">
    <a class="insert-button btn btn-default" href="/projects"><span class="glyphicon glyphicon-chevron-left"></span> Проекты</a>
    <a type="submit" class="insert-button btn btn-success" href="/project/<?=F3::get('projectItem.id')?>/tasks/create"><span class="glyphicon glyphicon-plus"></span> Добавить задачу</a>
</div>
