<h4><?=F3::get('title')?></h4><hr/>
<form class="item-form" role="form" method="POST" action="/changepass" id="changepassForm">
    <div class="form-group">
        <label for="key">Ключ</label>
        <input type="text" class="form-control" name="key" maxlength="36" value="<?=htmlspecialchars(F3::get('activateKey'))?>" required>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" name="password" maxlength="50" placeholder="*****" required>
    </div>
    <input type="hidden" name="referer" value="<?=F3::get('referer')?>">
    <input type="hidden" name="localtime" value="">
    <div class="item-buttons">
        <button type="submit" class="btn btn-success">Сменить пароль и войти</button>
    </div>
    <div class="item-buttons-link">
        <a class="btn btn-link" href="/login">Войти</a>
        <a class="btn btn-link" href="/reg">Зарегистрироваться</a>
    </div>
</form>