<h4><?=F3::get('title')?></h4><hr/>
<form class="item-form" role="form" method="POST" action="/profile" id="profileForm">
    <div class="form-group">
        <label for="username">Имя</label>
        <input type="text" class="form-control" name="username" maxlength="50" value="<?=htmlspecialchars(F3::get('user.username'))?>" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" maxlength="50" value="<?=htmlspecialchars(F3::get('user.email'))?>" required>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" name="password" maxlength="50" placeholder="********">
    </div>
    <input type="hidden" name="referer" value="<?=F3::get('referer')?>">
    <input type="hidden" name="localtime" value="">
    <div class="item-buttons">
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> Изменить</button>
    </div>
</form>