<h4><?=F3::get('title')?></h4><hr/>
<form class="item-form" role="form" method="POST" action="/recovery" id="recoveryForm">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" maxlength="50" placeholder="user@user.mail" required>
    </div>
    <input type="hidden" name="referer" value="<?=F3::get('referer')?>">
    <input type="hidden" name="localtime" value="">
    <div class="item-buttons">
        <button type="submit" class="btn btn-success">Отправить ссылку для сброса пароля</button>
    </div>
    <div class="item-buttons-link">
        <a class="btn btn-link" href="/login">Войти</a>
        <a class="btn btn-link" href="/reg">Зарегистрироваться</a>
    </div>
</form>