<h4><?=F3::get('title')?></h4><hr/>
<form class="item-form" role="form" method="POST" action="/reg" id="regForm">
    <div class="form-group">
        <label for="username">Имя</label>
        <input type="text" class="form-control" name="username" maxlength="50" placeholder="User" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" maxlength="50" placeholder="user@user.mail" required>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" name="password" maxlength="50" placeholder="*****" required>
    </div>
    <input type="hidden" name="referer" value="<?=F3::get('referer')?>">
    <input type="hidden" name="localtime" value="">
    <div class="item-buttons">
        <button type="submit" class="btn btn-success">Зарегистрироваться</button>
    </div>
    <div class="item-buttons-link">
        <a class="btn btn-link" href="/login">Войти</a>
        <a class="btn btn-link" href="/recovery">Забыл пароль</a>
    </div>
</form>