<p>В настоящее время сервис работает в режиме бета-тестирования.</p>

<p>Для завершения процесса восстановления доступа пройдите по ссылке:  <br/><b><a href="{{@params.link}}">{{@params.link}}</a></b></p>