<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gt-navbar-collapse">
                <span class="sr-only">Переключить</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="gt navbar-brand app-header">
                <a href="/"><img src="images/logo_white.svg" class="app-logo"></a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="gt-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/contact">Написать админу</a></li>
                <li><a href="/donate">Помощь сервису</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Проекты <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/projects"><span class="glyphicon glyphicon-list"></span>&nbsp;Все</a></li>
                        <? if (count(F3::get('projectsList'))>0){?>
                        <? foreach(F3::get('projectsList') as $project){?>
                        <? if ($project->icon==''){$project->icon='glyphicon glyphicon-flag';}?>
                        <li><a href="/project/<?=$project->id?>"><span class="<?=$project->icon?>"></span>&nbsp;<?=$project->title?></a></li>
                        <? }} ?>
                        <li class="divider"></li>
                        <li><a href="/projects/create"><span class="glyphicon glyphicon-plus"></span>&nbsp;Создать проект</a></li>
                    </ul>
                </li>
                <li><a href="/profile">Профиль</a></li>
                <li><a href="" class="logoutLink">Выход</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>