<p>Вас зарегистрировали на сайте <b>{{@site.url}}</b> - сервис для ведения групповых списков задач 
и предоставили доступ к списку задач проекта - <b>{{@params.project.title}}</b>, для завершения процесса 
регистрации пройдите по ссылке: <a href="{{@params.reg_link}}"><b>{{@params.reg_link}}</b></a></p>