Вас зарегистрировали на сайте {{@site.url}} - сервис для ведения групповых списков задач 
и предоставили доступ к списку задач проекта - {{@params.project.title}}, для завершения процесса 
регистрации пройдите по ссылке: {{@params.reg_link}}