<h4><?=F3::get('title')?></h4>
<hr/>
<form class="item-form" role="form" method="POST" action="/contact" id="contactForm">
    <div class="form-group">
        <label for="username">Ваше имя</label>
        <input type="text" class="form-control" name="username" maxlength="255" placeholder="" value="<?=F3::get('user.username')?>" required>
    </div>
    <div class="form-group">
        <label for="email">Ваше Email</label>
        <input type="email" class="form-control" name="email" maxlength="255" placeholder="" value="<?=F3::get('user.email')?>" required>
    </div>
    <div class="form-group">
        <label for="message">Сообщение</label>
        <textarea class="form-control" name="message" maxlength="512" placeholder="" required></textarea>
    </div>
    <input type="hidden" name="referer" value="<?=F3::get('referer')?>">
    <input type="hidden" name="act" value="">
    <div class="item-buttons">
        <button type="submit" class="btn btn-success" data-act="send"><span class="glyphicon glyphicon-envelope"></span> Отправить письмо</button>
    </div>
</form>