<h4><?=F3::get('title')?></h4>
<hr/>
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <p>Сервис <?=F3::get('site.company')?> абсолютно бесплатный, разрабатывается и поддерживается <a href="http://site15.ru" target="_blank">одним человеком</a>.</p>
        <p>Сервис располагается на недорогом хостинге и оплачивается из собственного кармана.</p>
        <p>Недорогой хостинг ограничивает объемы потребляемых мощностей, и как следствие иногда могут возникать технические проблемы.</p>
        <p>Если вам понравился данный сервис, то вы можете помочь перенести его на более стабильный и производительный хостинг, который позволит расширить возможности сервиса.</p>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <p>
            <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/shop.xml?account=41001220209977&quickpay=shop&payment-type-choice=on&writer=seller&targets=%D0%9F%D0%BE%D0%BC%D0%BE%D1%89%D1%8C+%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%83+GROUP-TASKS.COM&targets-hint=&default-sum=50&button-text=04&successURL=http%3A%2F%2Fgroup-tasks.com%2Fthanks" width="450" height="198"></iframe>
        </p>
    </div>
</div>