<div class="jumbotron">
<div class="row">
    <div class="col-sm-8">
    <h1>О сайте</h1>
    <p>Сервис для ведения групповых списков задач.</p>
    <h2>Основные возможности:</h2>
    <p>
    <ul>
        <li>Создание неограниченного количества проектов и задач</li>
        <li>Копирование проектов со всеми задачами</li>
        <li>Автоматическое перераспределение сроков выполнения задач при копировании проектов</li>
        <li>Создание учетных записей и рассылка приглашений при предоставлении доступа</li>
        <li>Для проектов можно устанавливать цветные иконки</li>
    </ul>
    <div class="">
        <a class="btn btn-success btn-lg" href="/reg">Зарегистрироваться</a>
        <a class="btn btn-primary btn-lg" href="/login">Войти</a>
    </div>
</p>

    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
<div id="screens" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="images/gt-screen-projects.png" alt="...">
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <img src="images/gt-screen-tasks.png" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="images/gt-screen-access.png" alt="...">
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <img src="images/gt-screen-menu.png" alt="...">
      <div class="carousel-caption">

      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#screens" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#screens" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
    </div>
</div>
    </div>