<h4><?=F3::get('title')?></h4><hr/>
<?=$this->render('projects/iconDialog.htm') ?>
<form class="item-form" role="form" method="POST" action="/projects/create" id="projectCreateForm">    
    <div class="form-group">
        <label for="title">Название</label>
        <input type="text" class="form-control" name="title" maxlength="255" placeholder="" required>
    </div>
    <div class="form-group">
        <label for="description">Описание</label>
        <textarea class="form-control" name="description" maxlength="512" placeholder=""></textarea>
    </div>
    <div class="form-group">
        <label for="icon">Иконка</label>
        <div class="input-group">
            <input type="text" class="form-control" name="icon" maxlength="100" placeholder="" value="glyphicon glyphicon-flag">
            <span class="input-group-addon" data-toggle="modal" data-target="#iconDialog">
                <span class="glyphicon glyphicon-flag"></span>
            </span>
        </div>        
    </div>
    <div class="form-group">
        <label for="completed_date">Дата и время завершения</label>
        <div class="input-group date datetime-field">
            <input type="text" class="form-control datetotimestamp" data-target="input[name=completed_date]" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <input type="hidden" class="form-control" name="completed_date">
    </div>
    <input type="hidden" name="referer" value="<?=F3::get('referer')?>">
    <input type="hidden" name="act" value="">
    <div class="item-buttons">
        <a class="btn btn-default" href="/projects"><span class="glyphicon glyphicon-chevron-left"></span> Проекты</a>
        <button type="submit" class="btn btn-success" data-act="create"><span class="glyphicon glyphicon-ok"></span> Добавить</button>
        <button type="submit" class="btn btn-primary" data-act="create_and_reset"><span class="glyphicon glyphicon-plus"></span> Добавить ещё </button>
    </div>
</form>