<div class="modal fade" id="iconDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">        
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                <h4 class="modal-title">Выберите иконку для проекта и укажите цвет</h4>
            </div>            
            <div class="modal-body">
                <div class="icons-list select-icon-color row hidden">
                    <div class="icons-item col-lg-1 col-xs-2" data-color="text-active"></div>
                    <div class="icons-item col-lg-1 col-xs-2" data-color="text-success"></div>
                    <div class="icons-item col-lg-1 col-xs-2" data-color="text-warning"></div>
                    <div class="icons-item col-lg-1 col-xs-2" data-color="text-danger"></div>
                    <div class="icons-item col-lg-1 col-xs-2" data-color="brand-info"></div>
                    <div class="icons-item col-lg-1 col-xs-2" data-color="brand-primary"></div>
                    <div class="icons-item col-lg-1 col-xs-2" data-color="brand-success"></div>
                    <div class="icons-item col-lg-1 col-xs-2" data-color="brand-info"></div>
                    <div class="icons-item col-lg-1 col-xs-2" data-color="brand-warning"></div>
                    <div class="icons-item col-lg-1 col-xs-2" data-color="brand-danger"></div>
                </div>
                <div class="icons-list select-icon row">
                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-asterisk"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-asterisk</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-plus</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-euro"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-euro</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-minus"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-minus</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-cloud"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-cloud</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-envelope"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-envelope</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-pencil</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-glass"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-glass</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-music"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-music</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-search"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-search</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-heart"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-heart</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-star</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-star-empty</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-user</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-film"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-film</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-th-large"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-th-large</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-th"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-th</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-th-list"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-th-list</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-ok</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-remove</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-zoom-in</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-zoom-out"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-zoom-out</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-off"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-off</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-signal"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-signal</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-cog"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-cog</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-trash"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-trash</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-home</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-file"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-file</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-time"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-time</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-road"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-road</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-download-alt"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-download-alt</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-download"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-download</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-upload"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-upload</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-inbox"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-inbox</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-play-circle"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-play-circle</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-repeat"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-repeat</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-refresh"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-refresh</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-list-alt</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-lock"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-lock</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-flag"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-flag</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-headphones"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-headphones</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-volume-off"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-volume-off</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-volume-down"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-volume-down</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-volume-up"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-volume-up</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-qrcode"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-qrcode</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-barcode"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-barcode</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-tag"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-tag</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-tags</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-book"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-book</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-bookmark"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-bookmark</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-print"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-print</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-camera"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-camera</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-font"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-font</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-bold"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-bold</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-italic"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-italic</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-text-height"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-text-height</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-text-width"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-text-width</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-align-left"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-align-left</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-align-center"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-align-center</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-align-right"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-align-right</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-align-justify</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-list"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-list</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-indent-left"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-indent-left</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-indent-right"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-indent-right</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-facetime-video"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-facetime-video</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-picture"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-picture</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-map-marker</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-adjust"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-adjust</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-tint"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-tint</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-edit</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-share"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-share</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-check"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-check</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-move"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-move</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-step-backward"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-step-backward</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-fast-backward"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-fast-backward</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-backward"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-backward</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-play"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-play</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-pause"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-pause</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-stop"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-stop</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-forward"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-forward</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-fast-forward"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-fast-forward</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-step-forward"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-step-forward</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-eject"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-eject</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-chevron-left</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-chevron-right</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-plus-sign</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-minus-sign</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-remove-sign</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-ok-sign"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-ok-sign</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-question-sign</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-info-sign</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-screenshot"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-screenshot</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-remove-circle</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-ok-circle</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-ban-circle</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-arrow-left</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-arrow-right</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-arrow-up"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-arrow-up</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-arrow-down"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-arrow-down</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-share-alt</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-resize-full"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-resize-full</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-resize-small"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-resize-small</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-exclamation-sign</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-gift"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-gift</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-leaf"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-leaf</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-fire"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-fire</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-eye-open</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-eye-close"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-eye-close</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-warning-sign</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-plane"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-plane</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-calendar"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-calendar</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-random"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-random</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-comment"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-comment</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-magnet"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-magnet</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-chevron-up</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-chevron-down</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-retweet"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-retweet</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-shopping-cart</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-folder-close"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-folder-close</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-folder-open</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-resize-vertical"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-resize-vertical</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-resize-horizontal"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-resize-horizontal</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-hdd"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-hdd</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-bullhorn"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-bullhorn</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-bell"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-bell</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-certificate"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-certificate</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-thumbs-up</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-thumbs-down</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-hand-right"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-hand-right</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-hand-left"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-hand-left</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-hand-up"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-hand-up</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-hand-down"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-hand-down</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-circle-arrow-right"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-circle-arrow-right</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-circle-arrow-left"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-circle-arrow-left</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-circle-arrow-up"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-circle-arrow-up</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-circle-arrow-down"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-circle-arrow-down</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-globe"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-globe</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-wrench"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-wrench</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-tasks"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-tasks</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-filter"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-filter</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-briefcase"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-briefcase</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-fullscreen"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-fullscreen</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-dashboard"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-dashboard</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-paperclip"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-paperclip</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-heart-empty"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-heart-empty</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-link"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-link</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-phone"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-phone</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-pushpin"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-pushpin</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-usd"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-usd</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-gbp"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-gbp</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-sort"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-sort</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-sort-by-alphabet</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-sort-by-alphabet-alt</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-sort-by-order"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-sort-by-order</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-sort-by-order-alt"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-sort-by-order-alt</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-sort-by-attributes</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-sort-by-attributes-alt</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-unchecked"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-unchecked</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-expand"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-expand</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-collapse-down"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-collapse-down</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-collapse-up"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-collapse-up</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-log-in"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-log-in</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-flash"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-flash</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-log-out"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-log-out</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-new-window"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-new-window</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-record"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-record</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-save"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-save</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-open"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-open</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-saved"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-saved</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-import"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-import</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-export"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-export</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-send"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-send</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-floppy-disk</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-floppy-saved"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-floppy-saved</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-floppy-remove</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-floppy-save</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-floppy-open"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-floppy-open</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-credit-card"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-credit-card</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-transfer"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-transfer</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-cutlery"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-cutlery</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-header"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-header</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-compressed"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-compressed</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-earphone"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-earphone</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-phone-alt</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-tower"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-tower</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-stats"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-stats</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-sd-video"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-sd-video</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-hd-video"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-hd-video</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-subtitles"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-subtitles</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-sound-stereo"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-sound-stereo</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-sound-dolby"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-sound-dolby</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-sound-5-1"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-sound-5-1</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-sound-6-1"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-sound-6-1</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-sound-7-1"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-sound-7-1</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-copyright-mark"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-copyright-mark</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-registration-mark"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-registration-mark</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-cloud-download"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-cloud-download</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-cloud-upload"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-cloud-upload</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-tree-conifer"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-tree-conifer</span>
                    </div>

                    <div class=" icons-item col-lg-1 col-xs-2">
                        <span class="glyphicon glyphicon-tree-deciduous"></span>
                        <span class="glyphicon-class hidden">glyphicon glyphicon-tree-deciduous</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default hidden" id="switchToSelectIcon">Выбрать иконку</button>
                <button type="button" class="btn btn-default" id="selectIconClose" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
