<h4><?=F3::get('title')?></h4><hr/>
<div id="projects-list">
    <input type="text" class="form-control search hidden" placeholder="Поиск проекта...">
    <ul class="draggableList list-unstyled list" data-placeholder="projects-item bg-info" data-url="/projects/change">
        <? if (count(F3::get('projectsList'))>0){?>
        <? $index=0;?>
        <? foreach(F3::get('projectsList') as $project){Projects::instance()->set($project->cast());?>
        <li class="draggableItem">
            <span class="ls-description hidden"><?=F3::get('projectItem.description')?></span>
            <span class="ls-title hidden"><?=F3::get('projectItem.title')?></span>
            <div class="projects-item media draggableItemObject" data-id="<?=F3::get('projectItem.id')?>" data-index="<?=$index?>">
                <p class="pull-left toProjectLink" data-href="/project/<?=F3::get('projectItem.id')?>">
                    <span class="media-object project-icon <?=F3::get('projectItem.icon')?>"></span>
                </p>
                <div class="media-body">
                    <h4 class="media-heading"><a href="/project/<?=F3::get('projectItem.id')?>" class="dateShower" data-value="<?=F3::get('projectItem.completedDate')?>"><?=F3::get('projectItem.title')?></a>
                        <div class="btn-group pull-right">
                            <a class="btn btn-default draggableItemButton"><span class="glyphicon glyphicon-move"></span></a>
                            <a href="/projects/update/<?=F3::get('projectItem.id')?>" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a data-href="/projects/delete/<?=F3::get('projectItem.id')?>" class="btn btn-danger deleteProjectLink"><span class="glyphicon glyphicon-remove"></span></a>
                            <a href="/project/<?=F3::get('projectItem.id')?>/access" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> <?=F3::get('projectItem.accessStr')?></a>
                            <a href="/project/<?=F3::get('projectItem.id')?>" class="btn btn-success"><span class="glyphicon glyphicon-check"></span> <?=F3::get('projectItem.completedStr')?></a>
                        </div>
                    </h4>
                    <?=F3::get('projectItem.description')?>
                </div>
            </div>
        </li>
        <? $index++;}} ?>
    </ul>
    <ul class="pagination hidden"></ul>
</div>
<div class="item-buttons">
    <a class="insert-button btn btn-success" href="/projects/create"><span class="glyphicon glyphicon-plus"></span> Добавить проект</a>
</div>