<h4><?=F3::get('title')?>
    <div class="btn-group pull-right">
        <a href="/project/<?=F3::get('projectItem.id')?>/access" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> <?=F3::get('projectItem.accessStr')?></a>
        <a href="/project/<?=F3::get('projectItem.id')?>" class="btn btn-success"><span class="glyphicon glyphicon-check"></span> <?=F3::get('projectItem.completedStr')?></a>
    </div>
</h4>
<hr/>
<?=$this->render('projects/iconDialog.htm') ?>
<form class="item-form" role="form" method="POST" action="/projects/update/<?=F3::get('projectItem.id')?>" id="projectUpdateForm">
    <div class="form-group">
        <label for="title">Название</label>
        <input type="text" class="form-control" name="title" maxlength="255" placeholder="" value="<?=htmlspecialchars(F3::get('projectItem.title'))?>" required>
    </div>
    <div class="form-group">
        <label for="description">Описание</label>
        <textarea class="form-control" name="description" maxlength="512" placeholder=""><?=htmlspecialchars(F3::get('projectItem.description'))?></textarea>
    </div>
    <div class="form-group">
        <label for="icon">Иконка</label>
        <div class="input-group">
            <input type="text" class="form-control" name="icon" maxlength="100" placeholder="" value="<?=F3::get('projectItem.icon')?>">
            <span class="input-group-addon" data-toggle="modal" data-target="#iconDialog">
                <span class="<?=F3::get('projectItem.icon')?>"></span>
            </span>
        </div>        
    </div>
    <div class="form-group">
        <label for="completed_date">Дата и время завершения</label>
        <div class="input-group date datetime-field">
            <input type="text" class="form-control datetotimestamp" data-target="input[name=completed_date]" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <input type="hidden" class="form-control" name="completed_date" value="<?=F3::get('projectItem.completedDate')?>">
    </div>
    <input type="hidden" name="referer" value="<?=F3::get('referer')?>">
    <input type="hidden" name="act" value="">
    <div class="item-buttons">
        <a class="btn btn-default" href="/projects"><span class="glyphicon glyphicon-chevron-left"></span> Проекты</a>        
        <button type="submit" class="btn btn-success" data-act="update"><span class="glyphicon glyphicon-pencil"></span> Изменить</button>
        <button type="submit"  class="btn btn-primary"  data-act="copy"><span class="glyphicon glyphicon-th-large"></span> Создать копию</button>
        <a data-href="/projects/delete/<?=F3::get('projectItem.id')?>" class="btn btn-danger deleteProjectLink"><span class="glyphicon glyphicon-remove"></span> Удалить</a>
    </div>
</form>