<p>Благодарим Вас за регистрацию на <a href="{{@site.url}}"><b>{{@site.name}}</b>!</a></p>

<p>В настоящее время сервис работает в режиме бета-тестирования.</p>

<p>Для завершения процесса регистрации пройдите по ссылке:  <br/><b><a href="{{@params.link}}">{{@params.link}}</a></b></p>