<h4>Проект</h4><hr/>
<div class="media">
    <p class="pull-left">
        <span class="media-object project-icon <?=F3::get('projectItem.icon')?>"></span>
    </p>
    <div class="media-body">
        <h4 class="media-heading"><a href="/project/<?=F3::get('projectItem.id')?>" class="dateShower" data-value="<?=intval(F3::get('projectItem.completedDate'))?>"><?=F3::get('projectItem.title')?></a>
            <div class="btn-group pull-right">
                <a href="/projects/update/<?=F3::get('projectItem.id')?>" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
                <a data-href="/projects/delete/<?=F3::get('projectItem.id')?>" class="btn btn-danger deleteProjectLink"><span class="glyphicon glyphicon-remove"></span></a>
                <a href="/project/<?=F3::get('projectItem.id')?>" class="btn btn-success"><span class="glyphicon glyphicon-check"></span> <?=F3::get('projectItem.completedStr')?></a>                
            </div>
        </h4>
        <?=F3::get('projectItem.description')?>
    </div>
</div>
<h4><?=F3::get('title')?></h4><hr/>
<? if (count(F3::get('accessList'))>0){?>
<? foreach(F3::get('accessList') as $access){?>
<? if ($access['access']==1){$checked='checked';}else{$checked='';}?>
<? if (F3::get('projectItem.user_id')!=$access['user_id']){?>
<div class="access-item media">
    <input type="checkbox" data-name="access" data-href="/project/<?=F3::get('projectItem.id')?>/access/update/<?=$access['id']?>" value="1" id="access_<?=$access['id']?>" name="access[<?=$access['id']?>]" data-color="green" <?=$checked?>/>
           <label for="access_<?=$access['id']?>"><?=$access['user_name']?> (<?=$access['user_email']?>)</label>
    <div class="btn-group pull-right">
        <a data-href="/project/<?=F3::get('projectItem.id')?>/access/delete/<?=$access['id']?>" class="btn btn-danger deleteItemLink"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
</div>
<? }else{?>
<div class="access-item media">
    <input disabled type="checkbox" data-name="access" data-href="/project/<?=F3::get('projectItem.id')?>/access/update/<?=$access['id']?>" value="1" id="access_<?=$access['id']?>" name="access[<?=$access['id']?>]" data-color="green" <?=$checked?>/>
           <label for="access_<?=$access['id']?>"><?=$access['user_name']?> (<?=$access['user_email']?>)</label>
    <div class="btn-group pull-right">
        <a data-href="/project/<?=F3::get('projectItem.id')?>/access/delete/<?=$access['id']?>" class="btn btn-danger deleteItemLink disabled"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
</div>
<? }?>
<? }} ?>
<div class="item-buttons">
    <a class="insert-button btn btn-default" href="/projects"><span class="glyphicon glyphicon-chevron-left"></span> Проекты</a>
    <a type="submit" class="insert-button btn btn-success" href="/project/<?=F3::get('projectItem.id')?>/access/create">Добавить пользователя</a>
</div>
